@media screen and (max-width: 1024px) {
    .navbar {
        position: fixed !important;
        bottom: 20px !important; 
        left: 15px !important;   
        right: 15px !important;  
        width: auto !important;  
        top: auto !important;
        
        background: rgba(255, 255, 255, 0.199) !important;
        border: 1px solid rgba(0, 0, 0, 0.336) !important;
        backdrop-filter: blur(15px) !important;
        -webkit-backdrop-filter: blur(15px) !important;
        
        border-radius: 25px !important; 
        
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important;
        
        z-index: 1000 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 65px !important; 
        padding: 0 10px !important;
    }

    body.dark-mode .navbar {
        background: rgba(0, 0, 0, 0.322) !important; 
        border: 1px solid rgba(255, 255, 255, 0.295) !important;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4) !important;
    }

    .navbar-list {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        gap: 30px !important;
    }

    .navbar-link {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        min-height: 44px !important;
        font-size: 0.95rem !important;
        padding: 15px 10px !important;
        font-weight: 600 !important;
        color: #777;
    }

    body.dark-mode .navbar-link {
        color: rgba(255, 255, 255, 0.8);
    }

    .navbar-link.active {
        color: #F2A800 !important;
    }

    .navbar-link.active::after {
        display: none !important;
    }

    body {
        padding: 15px !important;
        padding-bottom: 100px !important;
        min-width: 0 !important;
        overflow-x: hidden !important;
        display: block !important;
    }

    .main-content {
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        gap: 15px !important;
        display: flex !important;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar {
        position: static !important;
        width: 100% !important;
        max-height: 112px !important;
        overflow: hidden !important;
        transition: 0.5s ease-in-out !important;
        will-change: max-height;
        padding: 15px !important;
        margin-bottom: 15px !important;
        border-radius: 20px !important;
        z-index: 1 !important;
    }

    .sidebar.active {
        max-height: 1200px !important;
    }

    .sidebar-info {
        position: relative !important;
        flex-direction: row !important;
        align-items: center !important;
        gap: 15px !important;
        padding: 0 !important;
    }

    .avatar-box {
        background: transparent !important;
        border-radius: 20px !important;
        width: 80px !important;
        height: 80px !important;
        box-shadow: none !important;
        margin: 0 !important;
    }

    .avatar-box img {
        width: 100% !important;
        border-radius: 20px !important;
    }

    .info-content .name {
        margin-bottom: 10px !important;
        font-size: 1.5rem !important;
        text-align: left !important;
    }

    .info-content .title {
        margin: 0 !important;
        text-align: left !important;
    }

    .info-content {
        align-items: flex-start !important;
        text-align: left !important;
    }

    .info_more-btn {
        display: block !important;
        position: absolute !important;
        top: 0px !important;
        right: 5px !important;
        border-radius: 0 15px !important;
        background: #F8F9FA;
        padding: 12px 16px !important;
        font-size: 1.1rem !important;
        color: #F2A800 !important;
        z-index: 10 !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
        cursor: pointer;
        transition: 0.25s ease !important;
        border: 1px solid rgba(0, 0, 0, 0.05) !important;
    }

    body.dark-mode .info_more-btn {
        background: #2b2b2c !important;
        border: 1px solid rgba(255, 255, 255, 0.05) !important;
    }

    .info_more-btn span {
        display: none !important;
    }

    .sidebar-info_more {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease-in-out !important;
    }

    .sidebar.active .sidebar-info_more {
        opacity: 1 !important;
        visibility: visible !important;
        margin-top: 30px !important;
    }

    .contacts-list {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 16px !important;
    }
}

@media screen and (max-width: 1024px) {
    .theme-toggle {
        position: fixed !important;
        top: 15px !important;
        right: 15px !important;
        z-index: 9999 !important;
        background: rgba(255, 255, 255, 0.8) !important;
        backdrop-filter: blur(5px);
        width: 40px !important;
        height: 40px !important;
        border-radius: 12px !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
    }

    body.dark-mode .theme-toggle {
        background: rgba(30, 30, 30, 0.8) !important;
        color: #F2A800 !important;
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
}

@media screen and (min-width: 450px) and (max-width: 1024px) {

    .clients-item {
        min-width: calc(33.33% - 10px) !important;
    }

    .project-img,
    .blog-banner-box {
        height: auto !important;
    }
}

@media screen and (min-width: 580px) and (max-width: 1024px) {

    .main-content {
        width: 520px !important;
        margin: 0 auto !important;
        gap: 30px !important;
    }

    .sidebar,
    article {
        width: 100% !important;
        padding: 30px !important;
    }

    .sidebar {
        max-height: 180px !important;
        margin-bottom: 30px !important;
        position: relative !important;
    }

    .sidebar.active {
        max-height: 584px !important;
    }

    .info_more-btn {
        top: -30px !important;
        right: -30px !important;
        padding: 10px 15px !important;
        border-radius: 0 15px !important;
        background: rgba(40, 40, 40, 0.5);

    }

    .info_more-btn span {
        display: block !important;
        font-size: 12px !important;
    }

    .info_more-btn ion-icon {
        display: none !important;
    }

    .avatar-box {
        width: 120px !important;
        height: 120px !important;
        border-radius: 30px !important;
    }

    .avatar-box img {
        border-radius: 30px !important;
    }

    .sidebar-info {
        flex-direction: column !important;
        gap: 25px !important;
    }

    .info-content {
        align-items: center !important;
        text-align: center !important;
    }

    .info-content .name {
        text-align: center !important;
        margin-bottom: 15px !important;
    }

    .info-content .title {
        text-align: center !important;
        padding: 5px 18px !important;
    }

    .service-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 20px !important;
    }

    .project-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 30px !important;
    }

    .input-wrapper {
        grid-template-columns: 1fr 1fr !important;
    }
}

/* 6. SMALL SCREEN (<360px) */
@media screen and (max-width: 360px) {
    .navbar-list {
        gap: 15px !important;
    }

    .navbar-link {
        font-size: 0.8rem !important;
    }
}